workflows/social-media-poster.json
{
  "name": "AI Social Media Poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "id": "schedule",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "INBOX"
        },
        "additionalFields": {
          "q": "is:unread label:to-post"
        }
      },
      "id": "gmail",
      "name": "Get Drafts",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messages": [
            {
              "role": "system",
              "content": "你是一个社交媒体内容专家。请把以下内容改写成适合Twitter、LinkedIn、Facebook的帖子格式。"
            },
            {
              "role": "user",
              "content": "={{ $json.snippet }}"
            }
          ]
        }
      },
      "id": "chatgpt",
      "name": "Rewrite Content",
      "type": "n8n-nodes-base.chatGPT",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "addFields": {
          "fields": [
            {
              "name": "platform",
              "value": "twitter"
            }
          ]
        }
      },
      "id": "twitter",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1.2,
      "position": [850, 250]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "addFields": {
          "fields": [
            {
              "name": "platform",
              "value": "linkedin"
            }
          ]
        }
      },
      "id": "linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{"node": "Get Drafts", "type": "main", "index": 0}]]
    },
    "Get Drafts": {
      "main": [[{"node": "Rewrite Content", "type": "main", "index": 0}]]
    },
    "Rewrite Content": {
      "main": [
        [{"node": "Post to Twitter", "type": "main", "index": 0}],
        [{"node": "Post to LinkedIn", "type": "main", "index": 0}]
      ]
    }
  }
}
